/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
    height: 100%;
    width: 100%;
    position: relative;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'whitney-medium';
    background-image: url(/images/spiral-pattern.jpg);
}
/* used font/s */
@font-face {
    font-family: 'gotr';
    src: url("../font/gentleman-on-the-rainbow.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'whitney-medium';
    src: url("../font/whitney-medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'silkscreen';
    src: url("../font/silkscreen.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* responsive — */
/*@media all 
and (min-width : 320px)
and (max-width : 413px) {
    .title {
        1rem;
    }
    #name {
        width: 100% !important;
        font-size: 7rem !important;
        line-height: .9rem;
    }
    .title p {
        display: none;
    }
    #nav-left, #nav-right{
        top: 70vh !important;
        -webkit-transform: rotate(0deg) !important;
    }
    #nav-left {
        left: 24vw !important;
    }
    #nav-right {
        right: 20vw !important;
    }
    .skills {
        display: none;
    }
    .pup-position {
        top: 30% !important;
        left: 45% !important;
    }
}
@media all and (min-width: 414px)
and (max-width: 415px) {
     #name {
        width: 100% !important;
        font-size: 9rem !important;
        line-height: 1.2rem;
    }
    #sub-title-cropped {
        font-size: 1.2rem !important;
    }
    #nav-left, #nav-right{
        top: 70vh !important;
        -webkit-transform: rotate(0deg) !important;
    }
    #nav-left {
        left: 31.4vw !important;
    }
    #nav-right {
        right: 26.7vw !important;
    }
    .skills {
        display: none;
    }
    .pup-position {
        top: 32% !important;
        left: 50% !important;
    }
    #nav {
        font-size: 1.2rem !important;
    }
}
@media all and (min-width: 0)
and (max-width: 768px) {
     #name {
        width: 100% !important;
        font-size: 10rem !important;
        line-height: 2rem;
    }
    #sub-title-cropped {
        font-size: 1.2rem !important;
    }
    .skills {
        display: none;
    }
    .pup-position {
        top: 32% !important;
        left: 50% !important;
    }
    #nav {
        font-size: 1.2rem !important;
    }
}
@media all and (min-width: 320px) and (max-width: 450px) {
    .title p {
        display: none;
    }
}
@media all and (min-width: 451px) and (max-width: 9999px){
    #sub-title-cropped {
        display: none;
    }
}*/

/* container — wrapper */
.container-wrapper {
/*    background-image: url(/images/body-bg.png);*/
    background-color: rgb(55,55,55);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.contact a, 
.download, 
header p, 
#sub-title-cropped {
    font-family: 'silkscreen';
    color: rgb(244,244,244);
}
.side-navigation {
    color: rgb(240,240,240);
    font-family: 'silkscreen';
}
.side-nav-list {
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.side-nav-list li {
    position: absolute;
    z-index: 1;
    display: inline-block;
    list-style: none;
    cursor: pointer;
    transition: .3s;
}
.side-nav-list li:nth-child(even) {
    -webkit-transform: rotate(90deg);
    top: 50%;
    right: 0;
}
.side-nav-list li:nth-child(odd) {
    -webkit-transform: rotate(270deg);
    top: 50%;
    left: 0;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contact a {
    color: rgb(244,244,244);
    margin: 0 30px;
    font-size: 1rem;
    text-decoration: none;
    text-shadow: inset 1px 1px 0 rgb(251,253,191);
}
.contact a:hover {
    color: rgb(244,244,244);
    animation: hover 200ms ease-in forwards;
}

.landing-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.landing-page h1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 30px;
}
.sr-only {
    position: absolute;
    overflow: hidden;  
    width: 0;
}
.name {
    display: inline-block;
    font-size: 10rem;
    font-family: 'gotr';
    color: rgb(252,74,26);
    text-transform: capitalize;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0, .1);
    animation: fade-in 2s ease-in forwards;
    line-height: 4.5rem;
}
.landing-page p {
    font-size: 1.5rem;
    color: rgb(244,244,244);
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    width: 450px;
    animation: typing 3.5s steps(60, end); 
}
.sub-title-cropped {
    font-size: 1rem;
    color: rgb(244,244,244);
    overflow: hidden;
    width: 250px;
    margin: 0 auto;
    animation: typing 3s steps(60, end);
}
@media all and (min-width: 900px){
    .sub-title-cropped {
        display: none;
    }
}
#typing-bar {
    color: rgb(251,253,191);
    animation: blinking-bar 1s infinite;
}
@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes typing {
  0% { 
      width: 0; 
    } 
} 
@-webkit-keyframes blinking-bar {
    100% { 
      opacity: .0;
    }
}
.resume {
    background-color: transparent;
    display: inline-block;
    height: 1rem;
    width: 200px;
    margin: 30px auto 0;
    padding: 7px 0;
    box-shadow: 0 0 0 1px rgba(255,255,255, .1);
    font-family: 'silkscreen';
    font-size: 1rem;
    color: rgb(244,244,244);
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255, .1);
}
.resume:hover {
    animation: download 200ms ease-in forwards;
}
@-webkit-keyframes download {
    0% {
        font-size: 1rem;
    }
    100% {
        background-color: rgb(244,244,244);
        color: rgba(55,55,55, 1);
        text-shadow: 0 1px 1px rgb(244,244,244);
        font-size: 1.1rem;
    }
}

.about {
    position: fixed;
    background-color: rgb(55,55,55);
    z-index: 1;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    padding: 120px 0 0 0;
    overflow: auto;
    box-sizing: border-box;
    border-right: 1px solid rgba(255,255,255, .1);
    box-shadow: 0 0 0 3px rgb(55,55,55);
    color: rgb(244,244,244);
    text-align: right;
    transition: .5s;
}
.about a {
    display: block;
    color: rgb(244,244,244);
    text-decoration: none;
    transition: 0.3s;     
}
.bio h2 {
    margin: 0 30px;
    padding: 0;
    font-family: 'roboto';
    font-size: 2rem;
    color: rgb(244,244,244);
    text-align: right;
    text-transform: capitalize;
    text-shadow: inset 1px 1px 0 rgba(255,255,255, .3);
}
.bio p {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.1rem;
    text-align: justify;
    text-indent: 1rem;
    letter-spacing: .3px;
    line-height: 1.3rem;
    text-align: right;
}
#hello {
    margin: 0 0 0 -15px;
    display: inline-block;
    text-align: center;
    transition: .3s;
    animation: spin 500ms linear infinite;
}
@keyframes spin { 
    0% {
        transform:rotate(5deg); 
    }
    50% { 
        -webkit-transform: rotate(30deg); 
    }
    100% { 
        -webkit-transform: rotate(5deg); 
    }
}
.bio:nth-child(2) {
    font-size: 1.2rem;
}
.closeBtn {
    display: block;
    padding: 30px 30px;
    color: rgb(252,74,26);
    font-family: 'silkscreen';
    text-align: right;
    text-decoration: none;
    transition: 0.3s;
}
.about .closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 0 0 0;
    color: rgba(252,74,26,1);
    font-size: 50px;
}

.my-skills {
    margin: 30px 0 0;
    text-align: center;
}
.my-skills h2 {
    display: block;
    color: rgb(252,74,26);
    font-family: 'gotr';
    font-size: 7rem;
    line-height: 2rem;
    text-shadow: 1px 1px 0 rgba(0,0,0, .1);
}
.my-skills a {
    display: inline-block;
    background-color: rgb(255,255,255);
    height: 1rem;
    width: 10rem;
    margin: 5px auto;
    padding: 3px 0;
    border: 3px solid rgb(244,244,244);
    border-radius: 1rem;
    font-family: 'silkscreen';
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 0 rgb(55,55,55);
    transition: 200ms;
    color: rgb(55,55,55);
}
.my-skills a:hover {
    box-shadow: inset 2px 2px 0 0 rgb(55,55,55);
    background-color: rgba(249,251,251, 1);
    color: rgb(0,0,0);
}
.skill-list {
    display: none;
    margin: auto;
}
.skills {
    display: inline-block;
    background-color: rgba(249,251,251, 1);
    height: 1rem;
    width: 5rem;
    margin: 5px auto;
    padding: 3px;
    border: 3px solid rgb(55,55,55);
    border-radius: 1rem;
    color: black;
    font-family: 'silkscreen';
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 2px 2px 0 0 rgb(244,244,244);
}
/* work */
.work {
    position: fixed;
    z-index: 1;
    background-color: rgb(55,55,55);
    text-align: center;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    padding: 120px 0 0 0;
    overflow-x: hidden;
    border-left: 1px solid rgba(255,255,255, .1);
    color: rgb(244,244,244);
    line-height: 1.5rem;
    text-align: left;
    transition: 0.5s; 
}
.my-works h2{
    margin: 0 30px;
    padding: 0;
    font-family: 'roboto';
    font-size: 2rem;
    color: rgb(244,244,244);
    text-align: left;
    text-transform: capitalize;
    text-shadow: inset 1px 1px 0 rgba(255,255,255, .3);
}
.work-list {
    margin: 15px 0;
    text-align: center;
}
.work-list h3 {
    display: block;
    text-shadow: none;
    text-align: center;
    color: rgb(244,244,244);
    font-family: 'roboto';
    font-size: 1.5rem;
    margin: 20px 0;
}
.work-list li{
    display: inline-block;
    height: 1.5; 
    width: 25%;
    border: 1px solid rgba(255,255,255, .1);
    margin: 5px 5px;
}
.work-list a {
    color: rgba(55,55,55, 1);
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255,255,255, .1);
    color: rgba(249,251,251, .9);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: 0.3s;
}
.works-list li:hover {
    animation: download 200ms ease-in forwards;
}
.work .closeBtn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 0;
    color: rgba(252,74,26,1);
    font-size: 50px;
}
/* jam */
.myjam {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px auto;
}
.myjam h2 {
    z-index: 1;
    display: block;
    text-align: center;
    margin: 0 auto 1px;
    color: rgb(252,74,26);
    text-shadow: 1px 1px 0 rgba(0,0,0, .1);
    font-family: 'gotr';
    font-size: 7rem;
} 
.my-jam-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.my-jam-list li {
    display: inline-block;
    background-color: rgb(249,251,251);
    height: 1.5rem;
    width: 11.5rem;
    margin: 3px auto;
    border: 3px solid rgb(55,55,55);
    border-radius: 1rem;
    color: rgb(55,55,55);
    font-family: 'silkscreen';
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
}
.credits {
    background-color: transparent;
    display: block;
    width: 90px;
    margin: 30px auto;
    box-shadow: 0 0 0 1px rgba(255,255,255, .1);
    color: white;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: 0.10s; 
    animation: typing-bar 300ms infinite forwards;
}
.credits:hover {
    color: rgba(7,9,6, .7);
    background-color: rgb(244,244,244);
    animation: 20ms paused;
    text-shadow: .3px .3px rgb(55,55,55);
    cursor: pointer;
}
.credits:active {
    color: rgb(55,55,55);
    background-color: rgb(244,244,244);
    animation: 1ms paused;
}
.credits-container {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(244,244,244);
    background-color: rgba(252,74,26, .5);
}
.credits-content {
    background-color: rgb(244,244,244);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid rgb(244,244,244);
    width: 50%;
    text-align: left;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.credits-content h2 {
    font-family: 'silkscreen';
    font-size: 1rem;
    text-transform: capitalize;
    height: 1rem;
    width: 85px;
    padding: 5px;
    border-radius: .3rem;
    color: rgb(244,244,244);
    background-color: rgba(252,74,26,1);;
    margin: 0 auto 20px;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.credit-align-center {
    margin: 0 auto;
}
.item-used {
    display: block;
    font-family: 'silkscreen';
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 1rem;
    color: rgba(55,55,55, 1);
}
.credits-content p > span{
    color: white;
    background-color: grey;
    padding: 0 3px;
}
.font-by {
    display: inline-block;
    background-color: rgb(192,178,131);
    padding: 5px 15px;
    border-radius: 3rem;
    margin: 3px 0;
    font-family: 'silkscreen';
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 1rem;
    color: rgba(55,55,55, 1);
} 
.credits-content h3 {
    font-family: 'silkscreen';
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: .3rem;
    margin: 30px auto 0;
    text-align: center;
}
.creditCloseBtn {
    color: transparent;
}