html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
html, body{
    position: static;
    height: 100%;
    width: 100%;
    color: black;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    position: relative;
}
* {
    outline: none;
}
.back {
    position: fixed;
    text-decoration: none;
    background-color: #FF3B3F;
    z-index: 3;
    right: 5px;
    bottom: 5px;
    width: 5%;
    height: 10%;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    font-family: 'Lato';
    font-size: 1.5rem;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.index-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    
    /* flex */
    display: flex;
    flex-direction: column;
}
.top {
    position: relative;
    background-color: #fff;
    height: 7%;
    width: 100%;
    background-color: #373737;
}
.icon {
    display: inline-block;
}
.icon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon .icon-text a {
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-family: 'Lato';
    font-size: 2rem;
    font-style: italic;
    text-decoration: none;
    margin: 4px 5rem;
    cursor: pointer;
}
@media all and (max-width: 700px) {
    .icon .icon-text a {
        margin: 4px 1rem;
    }
    .top-contact-list {
        display: none;
    }
    .About {
        width: 100% !important;
        overflow: scroll;
        overflow-x: hidden;
    }
    .contact {
        z-index: 0;
        position: absolute;
        top: 15vh;
        left: -30%;
        margin: auto;
    }
    .contact-form {
        z-index: 0;
        position: absolute;
        top: 15vh;
        right: -15%;
        margin: auto;
    }
}
.sr-only {
    position: absolute;
    width: 0;
    overflow: hidden;
}
nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav .nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nav-list li {
    padding: 0 30px;
    list-style: none;
    text-align: center;
}
.nav-list li a {
    color: #fff;
    font-family: 'Lato';
    font-size: 1rem;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: px;
    transition: .2s;
}
.nav-list li a:hover {
    transition: .1s;
    padding: 0 0 3px 0;
    border-bottom: 1px double rgba(255,255,255, .5);
}
.top-contact {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.top-contact-list {
    list-style: none;
    margin: 0 auto;
}
.top-contact-list li {
    display: inline-block;
    margin: 0 30px 0 0;
}
.top-contact-list li a {
    text-decoration: none;
    color: white;
    font-family: 'Lato';
    font-size: 1.2rem;
    font-style: italic;
}

section {
    height: 86%;
}
.About {
    background-color: rgba(0,0,0, .02);
    margin: 0 auto;
    height: 100%;
    width: 70%;
}
.about-us {
    padding: 30px 30px 0;
}
.about-title {
    display: inline;
    padding: 0 5px;
    border-top: 1px solid rgba(0,0,0, .3);
    border-left: 3px double rgba(0,0,0, .3);
    font-family: 'Lato';
    font-size: 1.5rem;
    font-style: italic;
}
.about-text {
    padding: 10px 0 50px;
    font-size: 1.2rem;
    text-align: left;
    text-indent: 20px;
    line-height: 1.3rem;
}

.Gallery {
    display: none;
    height: 100%;    
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.gallery-container {
    box-sizing: border-box;
    text-align: center;
    color: #000;
    padding-top: 3%;
}
.img-container {
    position: relative;
    display: inline-block;
    margin: 5px;
    border: 1px solid rgba(0,0,0, .1);
    height: 200px;
    width: 200px;
    border-radius: .4rem;
    z-index: 0;
}
.img-container img {
    background-image: url(../images/mdi-images/image.png);
    background-size: cover;
    background-position: center;
    border: 0;
    height: 50px;
    width: 50px;
    z-index: 1;
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0 auto;    
}

.Contactt {
    height: 100%;
    font-family: 'Lato';
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form{
    background-color: #F0F0F0;
    float: right;
    margin: 0 20% 0 0;
    height: 300px;
    width: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input, textarea{
    display: inline-block;
    margin: 5px 0 0 10px;
    padding: 5px;
    font-family: 'Lato';
}
form h2 {
    font-family: 'Lato';
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
}
.input {
    display: block;
    font-family: 'Lato';
    font-size: 1.2rem;
    text-align: justify;
    color: rgba(0,0,0, .7);
}
.button {
    padding: 10px 20px;
    border-radius: .4rem;
    font-family: 'Lato';
    font-size: 1.2rem;
    font-style: italic;
    cursor: pointer;
    z-index: 0;
}
textarea {
    width: 90%;
    height: 100px;
    font-family: 'Lato';
    font-size: 1rem;
}
.contact {
    float: left;
    margin: 0 0 0 35%;
}
.contact-list li {
    display: block;
    background-color: #ccc;
    height: 1.5rem;
    width: 85px;
    margin: 0 0 3px;
    padding: 5px 5px;
    text-align: left;
}
.contact-list h2 {
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
    margin: 0 0 10px;
}
.contact-list li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-style: italic;
}
.contact-list li a:hover {
    text-decoration: underline;
}


footer {
/*    display: none;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 7%;
}
footer .footer-content {
    background-color: #373737;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .footer-content a {
    text-decoration: none;
    color: white;
    font-family: 'Lato';
    font-size: 1.3rem;
    font-style: italic;
    display: inline;
    margin: 0 auto;
}













